:root {
    --ely-background: #0d0d0d;
    --ely-gradient: linear-gradient(90deg, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9A9AE2, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    --background-primary: var(--ely-background);
    --background-secondary: var(--ely-background);
    --background-secondary-alt: var(--ely-background);
    --background-tertiary: var(--ely-background);
    --background-floating: var(--ely-background);
    --channeltextarea-background: var(--ely-background);

    /* gradient in search menu */
    --search-popout-option-fade: unset;
    /* separators in friends page */
    --background-modifier-accent: unset;
}

/* removals */
/* beta tag on guild content moderation */
div[class^="messageFilterBetaTag"],
/* new tag on guild insights */
div[class^="textBadge"][style="background-color: var(--status-danger);"],
/* timestamps on messages */
h2[aria-labelledby*="message-timestamp"] span[class^="timestamp"],
/* send a gift button */
button[aria-label="Send a gift"],
/* gif picker */
button[aria-label="Open GIF picker"],
/* sticker picker */
button[aria-label="Open sticker picker"],
/* remove events "channel" */
li[class^="containerDefault"]:not([data-dnd-name]),
/* remove active thrreads */
ul[aria-label="Channels"] div[class^="wrapper"][role="listitem"],
/* boost goal */
ul[aria-label="Channels"] div[aria-label^="Buy Boosts"],
/* padding for guild banner */
ul[aria-label="Channels"] div[style^="height"],
/* guild banner */
nav[aria-label*="server"] div[class^="animatedContainer"],
/* support button */
a[href="https://support.discord.com"],
/* inbox button */
div[aria-label="Inbox"],
/* notification settings button */
div[aria-label="Notification Settings"],
/* copy id icon in context menu */
div[id="channel-context-devmode-copy-id"] div[class^="iconContainer"],
/* seperators */
div[role="separator"],
div[class^="separator"],
/* community info container */
div[class^="communityInfoContainer"] {
    display: none;
}

/* apply base properties to text */
/* guild settings, user settings, context menu items */
div[class^="item"],
/* message content */
div[id^="message-content"],
/* message content containing code */
div[id^="message-content"] code,
/* titles (in settings etc) */
h1[class*="title"],
/* subtitles (in settings etc) */
h3[class*="title"],
/* description (in settings etc) */
div[class*="description"],
/* content moderation item title */
div[data-text-variant="text-sm/normal"],
/* content moderation item item */
div[data-text-variant="text-xs/medium"],
/* header on side pannel in settings */
div[class^="header"],
/* nitro item in settings */
div[class^="premiumLabel"],
/* channel textarea placeholder */
div[class^="placeholder"],
/* channel textarea text */
div[data-slate-node="element"],
/* channel */
div[class^="channelName"],
/* category */
div[class^="overflow"],
/* guild name */
h1[class^="name"],
/* channel topic */
div[class^="topic"],
/* search placeholder */
div[class^="public-DraftEditorPlaceholder"] {
    background: var(--ely-gradient) no-repeat;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 100;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.56px;
    -webkit-text-stroke-color: transparent;
}

/* search placeholder */
div[class^="public-DraftEditorPlaceholder"] {
    font-size: 14px;
    opacity: 0.8;
    text-transform: lowercase;
}

/* attachment border radius */
div[class^="imageWrapper"] {
    border-radius: 0;
}

/* square play button */
div[class^="playCenter"] div[class^="wrapper"] {
    border-radius: 0;
}

/* dm channel */
div[class^="name"] div[class^="overflow"] {
    font-size: 16px;
}

/* category */
div[class^="overflow"] {
    font-size: 12px;
}

/* channel textarea placeholder */
div[class^="placeholder"] {
    opacity: 0.6;
}

div[class^="header"]:nth-child(1) {
    margin: 0px 0px 9px 0px !important;
}

/* header on side pannel in settings */
div[class^="header"] {
    font-size: 16px;
    -webkit-text-stroke-width: 1px;
    margin: 9px 0px 8px 0px;
    text-transform: lowercase;
}

/* subtitles (in settings etc) */
h1[class*="title"] {
    font-size: 17px;
}

h3[class*="title"] {
    font-size: 15px;
    -webkit-text-stroke-width: 0.3px;
}

/* content moderation item title */
div[class*="description"] {
    font-size: 12.5px;
    -webkit-text-stroke-width: 0.5px;
}

/* content moderation item item */
div[data-text-variant="text-xs/medium"] {
    font-size: 11px;
}

/* guild settings, user settings */
div[class^="item"] {
    text-transform: lowercase;
}

/* message content containing code */
div[id^="message-content"] code {
    font-family: 'Space Mono';
    font-size: 13px !important;
    -webkit-text-stroke-width: 0.0px;
}

/* context menu subtext */
div[class^="subtext"] {
    -webkit-text-stroke-width: 0.25px;
}

/* context menu */
div[class^="menu"]:not([class^="menuIcon"]),
div[class^="submenuContainer"] div[class^="submenu"] {
    --border-size: 1px;
    --real-border-size: calc(var(--border-size) + 5px);
    --inverted-border-size: calc(-var(--real-border-size));
    --border-size-2: calc(var(--real-border-size) * 10);
    --size: calc(100% + var(--border-size-2));

    background: var(--ely-gradient) no-repeat;
    background-position: -50px -50px;
    background-size: var(--size) var(--size);
    border: var(--real-border-size) solid transparent;
    border-radius: 0;
    box-sizing: border-box;
    margin: var(--inverted-border-size) var(--inverted-border-size) 0 0;
}

/* context menu border */
div[class^="menu"]:not([class^="menuIcon"]):before,
div[class^="submenuContainer"] div[class^="submenu"]:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    background: var(--ely-background);
}

/* context submenu fix */
div[class^="submenuContainer"] div[class^="submenu"] {
    margin: -5px -5px;
    padding: 0;
}

/* context submenu border fix */
div[class^="submenuContainer"] div[class^="submenu"]:before {
    margin: -6px;
}

/* account menu fix */
#account {
    border: 1px solid transparent;
}

/* friends navbar background */
section[class*="container"] {
    --background-primary: var(--ely-background);
}

/* friends page background */
div[class*="sidebar"] + div[class*="container"] {
    background-color: var(--ely-gradient);
}
